/*! ------------------------------------------------
 * Project Name: Allurio - Coming Soon & Portfolio Template
 * Project Description: Allurio - versatile and trendy coming soon & portfolio template to kick-start your project
 * Tags: mix_design, allurio, coming soon, under construction, template, coming soon page, landing page, one page, html5, css3
 * Version: 2.0.1
 * Build Date: September 2019
 * Last Update: November 2022
 * This product is available exclusively on Themeforest
 * Author: mix_design
 * Author URI: https://themeforest.net/user/mix_design
 * File name: main-demo.css
 * ------------------------------------------------
 *
 * ------------------------------------------------
 * Table of Contents
 * ------------------------------------------------
 *  1. Loader Styles
 *  2. Fonts
 *  3. Base CSS Styles
 *  4. Typography Styles
 *  5. Buttons & Triggers Styles
 *  6. Intro Styles
 *  7. Headline Styles
 *  8. Preview Sections Styles
 *  9. Preview Links Styles
 *  10. Subscribe Section Styles
 *  11. Footer Styles
 * ------------------------------------------------
 * Table of Contents End
 * ------------------------------------------------ */
/* ------------------------------------------------*/
/* Loader Styles Start */
/* ------------------------------------------------*/
/*! ------------------------------------------------
 * Project Name: Allurio - Coming Soon & Portfolio Template
 * Project Description: Allurio - versatile and trendy coming soon & portfolio template to kick-start your project
 * Tags: mix_design, allurio, coming soon, under construction, template, coming soon page, landing page, one page, html5, css3
 * Version: 2.0.1
 * Build Date: September 2019
 * Last Update: November 2022
 * This product is available exclusively on Themeforest
 * Author: mix_design
 * Author URI: https://themeforest.net/user/mix_design
 * File name: loader-dark.css
 * ------------------------------------------------
 *
 * ------------------------------------------------
 * Table of Contents
 * ------------------------------------------------
 *  1. Loader Styles
 * ------------------------------------------------
 * Table of Contents End
 * ------------------------------------------------ */
/* ------------------------------------------------*/
/* Loader Styles Start */
/* ------------------------------------------------*/
.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: #111111;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.loader.loaded {
  opacity: 0;
  visibility: hidden;
}

.loader__content {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
     -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.loader__logo {
  width: 200px;
}
.loader__logo img {
  display: block;
  width: 100%;
  height: auto;
}

@-webkit-keyframes scaleOut {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
            transform: scale3d(1.2, 1.2, 1.2);
    opacity: 0;
  }
}

@-moz-keyframes scaleOut {
  from {
    -moz-transform: scale3d(1, 1, 1);
         transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  to {
    -moz-transform: scale3d(1.2, 1.2, 1.2);
         transform: scale3d(1.2, 1.2, 1.2);
    opacity: 0;
  }
}

@keyframes scaleOut {
  from {
    -webkit-transform: scale3d(1, 1, 1);
       -moz-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
       -moz-transform: scale3d(1.2, 1.2, 1.2);
            transform: scale3d(1.2, 1.2, 1.2);
    opacity: 0;
  }
}
.scaleOut {
  -webkit-animation: scaleOut 0.6s 1;
     -moz-animation: scaleOut 0.6s 1;
          animation: scaleOut 0.6s 1;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
          animation-fill-mode: both;
}

/* ------------------------------------------------*/
/* Loader Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Loader Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Fonts Start */
/* ------------------------------------------------*/
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/OpenSans-Light/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light/OpenSans-Light.svg#OpenSans") format("svg");
}
@font-face {
  font-family: "OpenSans";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/OpenSans-LightItalic/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-LightItalic/OpenSans-LightItalic.woff") format("woff"), url("../fonts/OpenSans-LightItalic/OpenSans-LightItalic.ttf") format("truetype"), url("../fonts/OpenSans-LightItalic/OpenSans-LightItalic.svg#OpenSans") format("svg");
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular/OpenSans-Regular.svg#OpenSans") format("svg");
}
@font-face {
  font-family: "OpenSans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/OpenSans-Italic/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Italic/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans-Italic/OpenSans-Italic.ttf") format("truetype"), url("../fonts/OpenSans-Italic/OpenSans-Italic.svg#OpenSans") format("svg");
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/OpenSans-SemiBold/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold/OpenSans-SemiBold.ttf") format("truetype"), url("../fonts/OpenSans-SemiBold/OpenSans-SemiBold.svg#OpenSans") format("svg");
}
@font-face {
  font-family: "OldStandardTT";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OldStandardTT-Regular/OldStandardTT-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OldStandardTT-Regular/OldStandardTT-Regular.woff") format("woff"), url("../fonts/OldStandardTT-Regular/OldStandardTT-Regular.ttf") format("truetype"), url("../fonts/OldStandardTT-Regular/OldStandardTT-Regular.svg#OldStandardTT") format("svg");
}
/* ------------------------------------------------*/
/* Fonts End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Base CSS Styles Start */
/* ------------------------------------------------*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

button:active, button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

input::-moz-focus-inner {
  border: 0 !important;
}

::-moz-selection {
  background-color: #292929;
  color: #ffffff;
  text-shadow: none;
}

::selection {
  background-color: #292929;
  color: #ffffff;
  text-shadow: none;
}

::-webkit-scrollbar {
  display: none;
  width: 5px;
  background: #000000;
}
@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    display: block;
  }
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #1f1f1f;
  border-radius: 10px;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  min-width: 320px;
  overflow-x: hidden !important;
  overflow-y: auto;
  background-color: #191919;
  font: normal 400 1.6rem/1.7 "OpenSans", sans-serif;
  color: #444444;
}

section {
  position: relative;
  min-width: 320px;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.overflow-hidden {
  overflow: hidden !important;
}

.fullheight {
  position: static;
  height: auto;
}
@media only screen and (min-width: 1200px) {
  .fullheight {
    position: relative;
    height: 100%;
  }
}

.fullheight-mobile {
  position: relative;
  height: 100%;
}

.bg-white {
  background-color: #ffffff;
}

.bg-light {
  background-color: #f4f4f4;
}

.bg-dark {
  background-color: #111111;
}

.bg-medium {
  background-color: #191919;
}

.color-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.color-layer-black-06 {
  background-color: rgba(0, 0, 0, 0.6);
}

.color-layer-black-04 {
  background-color: rgba(0, 0, 0, 0.4);
}

.color-layer-black-04-mobile {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
@media only screen and (min-width: 1200px) {
  .color-layer-black-04-mobile {
    display: none;
  }
}

/* ------------------------------------------------*/
/* Base CSS Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Typography Styles Start */
/* ------------------------------------------------*/
.headline__title {
  font: normal 400 4.6rem/1.06 "OldStandardTT", serif;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}
@media only screen and (min-width: 768px) {
  .headline__title {
    font-size: 6rem;
  }
}
@media only screen and (min-width: 1400px) {
  .headline__title {
    font-size: 7rem;
  }
}

.headline__subtitle {
  display: block;
  font: normal 400 1.4rem/1.2 "OpenSans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding-top: 2rem;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}
@media only screen and (min-width: 1400px) {
  .headline__subtitle {
    margin-bottom: 4rem;
  }
}

.headline__descr {
  font: normal 300 1.6rem/1.7 "OpenSans", sans-serif;
  margin: 0 auto;
  margin-top: 3.8rem;
  color: rgba(255, 255, 255, 0.5);
  max-width: 440px;
  text-align: center;
}

figure {
  text-align: center;
}
figure figcaption p {
  display: block;
  font: normal 400 1.2rem/1.2 "OpenSans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 1.2rem;
}
@media only screen and (min-width: 1400px) {
  figure figcaption p {
    font-size: 1.4rem;
    margin-top: 2rem;
  }
}

.footer p {
  font: normal 400 1.2rem/1.2 "OpenSans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: rgba(255, 255, 255, 0.5);
}
.footer p a {
  color: #ffffff;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  -moz-transition: color 0.5s;
  transition: color 0.5s;
}
.no-touch .footer p a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.footer p i {
  color: #ffffff;
}
@media only screen and (min-width: 1400px) {
  .footer p {
    font-size: 1.4rem;
  }
}

/* ------------------------------------------------*/
/* Typography Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Buttons & Triggers Styles Start */
/* ------------------------------------------------*/
.btn {
  position: relative;
  display: inline-block;
  border: none;
  outline: 0;
  padding: 0;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  text-align: center;
}

.btn-l {
  height: 48px;
  line-height: 48px;
  padding: 0 5rem;
  font: normal 600 1.2rem/48px "OpenSans", sans-serif;
  letter-spacing: 0.22rem;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn-light {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #111111;
}
.no-touch .btn-light:hover {
  background-color: transparent;
  color: #ffffff;
}

.btn-dark {
  border: 1px solid #111111;
  background-color: #111111;
  color: #ffffff;
}
.no-touch .btn-dark:hover {
  background-color: transparent;
  color: #111111;
}

.to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s 0s, visibility 0s, 0.5s;
  -o-transition: opacity 0.5s 0s, visibility 0s, 0.5s;
  -moz-transition: opacity 0.5s 0s, visibility 0s, 0.5s;
  transition: opacity 0.5s 0s, visibility 0s, 0.5s;
}
.to-top span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
     -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.no-touch .to-top:hover {
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -o-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
  opacity: 1;
}
.to-top.is-visible {
  visibility: visible;
  opacity: 1;
}
.to-top.fade-out {
  opacity: 0.5;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -o-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
@media only screen and (min-width: 768px) {
  .to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
  }
}

/* ------------------------------------------------*/
/* Buttons & Triggers Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Intro Styles Start */
/* ------------------------------------------------*/
.main {
  position: relative;
  min-width: 320px;
  overflow: hidden;
  background-color: #181818;
}

.main__header {
  position: relative;
  padding-top: 5rem;
}

.header__container,
.headline {
  position: relative;
  padding: 0 -moz-calc(10% - 15px);
  padding: 0 calc(10% - 15px);
}
@media only screen and (min-width: 1200px) {
  .header__container,
  .headline {
    padding: 0 8.5rem;
  }
}
@media only screen and (min-width: 1400px) {
  .header__container,
  .headline {
    padding: 0 10.5rem;
  }
}

.header__logo {
  position: relative;
  margin-bottom: 2rem;
}
.header__logo img {
  display: block;
  width: auto;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .header__logo {
    padding-top: 0.4rem;
    margin-bottom: 0;
  }
  .header__logo img {
    margin: 0;
  }
}

.header__btnholder {
  position: relative;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .header__btnholder {
    text-align: right;
  }
}

.main__content {
  position: relative;
  padding: 6rem 0;
}
@media only screen and (min-width: 1200px) {
  .main__content {
    padding: 7rem 0;
  }
}

.object-1 {
  position: absolute;
  top: -60px;
  left: -10px;
  max-width: 140px;
}
@media only screen and (min-width: 768px) {
  .object-1 {
    max-width: 240px;
    top: -7%;
  }
}
@media only screen and (min-width: 1200px) {
  .object-1 {
    max-width: 280px;
    top: -12%;
    left: 60px;
  }
}
@media only screen and (min-width: 1400px) {
  .object-1 {
    max-width: none;
    top: -10%;
  }
}

.object-2 {
  position: absolute;
  top: 120px;
  right: -50px;
  max-width: 180px;
  -webkit-transform: rotate(10deg);
     -moz-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
          transform: rotate(10deg);
}
@media only screen and (min-width: 768px) {
  .object-2 {
    max-width: 200px;
    top: 90px;
  }
}
@media only screen and (min-width: 1200px) {
  .object-2 {
    max-width: 280px;
    top: 140px;
  }
}
@media only screen and (min-width: 1400px) {
  .object-2 {
    max-width: 340px;
    top: 70px;
    right: 30px;
  }
}

/* ------------------------------------------------*/
/* Intro Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Preview Sections Styles Start */
/* ------------------------------------------------*/
.main__demo {
  position: relative;
  padding-bottom: 4rem;
}
.main__demo.first-section {
  padding-top: 2rem;
}
.main__demo.has-title {
  padding-top: 4.5rem;
}
@media only screen and (min-width: 768px) {
  .main__demo.has-title {
    padding-top: 8.4rem;
  }
}
@media only screen and (min-width: 1200px) {
  .main__demo.first-section {
    padding-top: 8rem;
  }
}
@media only screen and (min-width: 1200px) {
  .main__demo {
    padding-bottom: 5rem;
  }
}
@media only screen and (min-width: 1400px) {
  .main__demo {
    padding-bottom: 7rem;
  }
  .main__demo.has-title {
    padding-top: 11.4rem;
  }
}

/* ------------------------------------------------*/
/* Preview Sections Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Headline Styles Start */
/* ------------------------------------------------*/
.demo__background {
  position: absolute;
  top: 0;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}
.demo__background span {
  font: normal 400 6.4rem/1 "OldStandardTT", serif;
  text-transform: uppercase;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.26);
}
@media only screen and (min-width: 768px) {
  .demo__background span {
    font-size: 12rem;
  }
}
@media only screen and (min-width: 1400px) {
  .demo__background span {
    font-size: 16rem;
  }
}

/* ------------------------------------------------*/
/* Headline Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Preview Links Styles Start */
/* ------------------------------------------------*/
.demo__links {
  position: relative;
  width: 100%;
  padding: 0 -moz-calc(10% - 15px);
  padding: 0 calc(10% - 15px);
}
@media only screen and (min-width: 1200px) {
  .demo__links {
    padding: 0 8.5rem;
  }
}
@media only screen and (min-width: 1400px) {
  .demo__links {
    padding: 0 10.5rem;
  }
}

.links__item {
  display: block;
  position: relative;
  margin-bottom: 4rem;
}
.links__item a {
  display: block;
}
.no-touch .links__item a:hover .links__image {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.no-touch .links__item a:hover .links__image img {
  opacity: 0.3;
}
.no-touch .links__item a:hover .new-item::before {
  top: -14px;
  -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.1), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.14);
     -moz-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.1), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.14);
          box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.1), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.14);
}
@media only screen and (min-width: 1200px) {
  .links__item {
    margin-bottom: 5rem;
  }
}
@media only screen and (min-width: 1400px) {
  .links__item {
    margin-bottom: 7rem;
  }
}

.new-item::before {
  content: "NEW";
  position: absolute;
  top: -10px;
  right: -10px;
  width: 46px;
  height: 46px;
  -moz-border-radius: 50%;
       border-radius: 50%;
  background-color: #de0b38;
  color: #ffffff;
  font: normal 600 1.1rem/46px "OpenSans", sans-serif;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-align: center;
  z-index: 12;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.links__image {
  position: relative;
  width: 100%;
  background-color: #111111;
  border: 1px solid rgba(255, 255, 255, 0);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.links__image img {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

/* ------------------------------------------------*/
/* Preview Links Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Subscribe Section Styles Start */
/* ------------------------------------------------*/
.subscribe {
  position: relative;
  min-width: 320px;
  padding: 8rem 0;
  background-color: #f4f4f4;
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: cover;
       background-size: cover;
  background-image: url("../img/demo/bg-demo-subscribe.jpg");
}
@media only screen and (min-width: 768px) {
  .subscribe {
    padding: 8rem 0;
  }
}
@media only screen and (min-width: 1200px) {
  .subscribe {
    padding: 10rem 0;
  }
}
@media only screen and (min-width: 1400px) {
  .subscribe {
    padding: 14rem 0;
  }
}

.subscribe__container {
  position: relative;
  width: 100%;
  padding: 0 -moz-calc(10% - 15px);
  padding: 0 calc(10% - 15px);
}
@media only screen and (min-width: 1200px) {
  .subscribe__container {
    padding: 0 8.5rem;
  }
}
@media only screen and (min-width: 1400px) {
  .subscribe__container {
    padding: 0 10.5rem;
  }
}

.subscribe__content {
  max-width: 500px;
}

.subscribe__title .title {
  font: normal 400 3rem/1 "OldStandardTT", serif;
  color: #ffffff;
  margin-bottom: 3rem;
}
.subscribe__title .descr {
  font: normal 300 1.6rem/1.6 "OpenSans", sans-serif;
  margin-top: 1.7rem;
  padding-left: 2px;
  color: rgba(255, 255, 255, 0.7);
}
@media only screen and (min-width: 768px) {
  .subscribe__title .title {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 1400px) {
  .subscribe__title .title {
    font-size: 5rem;
  }
}

.form-container {
  position: relative;
  padding-top: 3.4rem;
}

.form {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.form.is-hidden {
  opacity: 0;
}

form {
  position: relative;
  width: 100%;
}
form input, form textarea {
  position: relative;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  padding: 1.2rem 0.3rem;
  font: normal 300 1.5rem/1.7 "OpenSans", sans-serif;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
}
form input {
  height: 5rem;
  margin: 0 0 2.4rem 0;
}
form textarea {
  height: 14rem;
  resize: none;
  margin: 0 0 0.8rem 0;
}
form .inputs-description {
  display: block;
  width: 100%;
  margin-bottom: 1.4rem;
  text-align: right;
  font: normal 400 1.3rem/1 "OpenSans", sans-serif;
}
@media only screen and (min-width: 768px) {
  form input, form textarea {
    font-size: 1.6rem;
  }
}

.form-light input, .form-light textarea {
  font-weight: 300;
}
.form-light ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.form-light :-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.form-light ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.form-light :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.form-light input:focus:required:invalid,
.form-light textarea:focus:required:invalid {
  color: rgba(255, 255, 255, 0.5);
}
.form-light input:required:valid,
.form-light textarea:required:valid {
  color: #ffffff;
}
.form-light input, .form-light textarea {
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
}
.form-light input:focus, .form-light textarea:focus {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.form-light .inputs-description {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}

.reply-group {
  position: absolute;
  top: 3.4rem;
  left: 0;
  width: 100%;
  max-width: 440px;
  text-align: left;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.reply-group.is-visible {
  opacity: 1;
}

.reply-group__title {
  font: normal 400 3rem/1.06 "OldStandardTT", serif;
  color: #ffffff;
}

.reply-group__text {
  display: block;
  font: normal 300 1.5rem/1.7 "OpenSans", sans-serif;
  margin-top: 0.2rem;
  color: rgba(255, 255, 255, 0.7);
}

/* ------------------------------------------------*/
/* Subscribe Section Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Footer Styles Start */
/* ------------------------------------------------*/
.footer {
  background-color: #101010;
  position: relative;
  padding: 4rem -moz-calc(10% - 15px);
  padding: 4rem calc(10% - 15px);
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  .footer {
    padding: 5rem 8.5rem;
  }
}
@media only screen and (min-width: 1400px) {
  .footer {
    padding: 5rem 10.5rem;
  }
}

/* ------------------------------------------------*/
/* Footer Styles End */
/* ------------------------------------------------*/