/*! ------------------------------------------------
 * Project Name: Allurio - Coming Soon & Portfolio Template
 * Project Description: Allurio - versatile and trendy coming soon & portfolio template to kick-start your project
 * Tags: mix_design, allurio, coming soon, under construction, template, coming soon page, landing page, one page, html5, css3
 * Version: 2.0.0
 * Build Date: September 2019
 * Last Update: April 2022
 * This product is available exclusively on Themeforest
 * Author: mix_design
 * Author URI: https://themeforest.net/user/mix_design/portfolio
 * File name: color-dark.css
 * ------------------------------------------------
 *
 * ------------------------------------------------
 * Table of Contents
 * ------------------------------------------------
 *  1. Template Backgrounds
 *  2. Fonts
 *  3. Base CSS Styles
 *  4. Loading Animation
 *  5. Typography
 *  6. Buttons & Controls
 *  7. Forms and Forms Reply Groups
 *  8. Animated Backgrounds
 *  9. Main Section
 *  10. Menu
 *  11. Socials
 *  12. Countdown
 *  13. Swiper Slider
 *  14. Popup Dialogs
 *  15. Inner Sections
 *  16. Custom Scroll
 *  17. Skillbars
 *  18. Team
 *  19. Contact Data
 *  20. Gallery
 * ------------------------------------------------
 * Table of Contents End
 * ------------------------------------------------ */
/* ------------------------------------------------*/
/* Base CSS Styles Start */
/* ------------------------------------------------*/
::-moz-selection {
  background-color: #f6f1ee;
  color: #000000;
  text-shadow: none;
}
::selection {
  background-color: #f6f1ee;
  color: #000000;
  text-shadow: none;
}

::-webkit-scrollbar {
  display: none;
  width: 5px;
  background: #a0a0a0;
}
@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    display: block;
  }
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #a0a0a0;
}

::-webkit-scrollbar-thumb {
  background-color: #111111;
  border-radius: 10px;
}

body {
  color: rgba(255, 255, 255, 0.7);
  background-color: #223632;
}

/* ------------------------------------------------*/
/* Base CSS Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Loading Animation Start */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Loading Animation End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Typography Start */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Typography End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Buttons & Controls Start */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Buttons & Controls End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Forms and Forms Reply Groups Start */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Forms and Forms Reply Groups End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Animated Backgrounds Start */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Animated Backgrounds End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Main Section Start */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Main Section End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Menu Start */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Menu End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Socials Start */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Socials End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Countdown Start */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Countdown End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Swiper Slider Start */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Swiper Slider End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Popup Dialogs Start */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Popup Dialogs End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Inner Sections Start */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Inner Sections End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Custom Scroll Start */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Custom Scroll End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Skillbars Start */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Skillbars End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Team Start */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Team End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Contact Data Start */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Contact Data End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Gallery Start */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Gallery End */
/* ------------------------------------------------*/